header.masthead
  .container
    .intro-text
      .intro-lead-in
        | Web関連技術を中心に
        br
        | ファイナンス・不動産など、
        br
        | 興味があるものを活かした
        br
        | サービスを制作しています
      // <div class="intro-heading text-uppercase">Web系エンジニア トール</div>