section#history.bg-light.page-section
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading.text-uppercase History
        h3.section-subheading.text-muted 職歴
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img.rounded-circle.img-fluid(src='img/about/1.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 2012-2016
                h4.subheading キーエンスソフトウェア株式会社
              .timeline-body
                p.text-muted
                  | C#言語を使った、業務系の.Netアプリケーションを中心に作成しておりました。
                  br
                  | 多言語化プロジェクト・インストーラー作成・ソフトウェアの設計・テスト設計・数名規模のチームのマネージメントも担当。
          li.timeline-inverted
            .timeline-image
              img.rounded-circle.img-fluid(src='img/about/2.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 2016-2018
                h4.subheading 株式会社Glad Cube
              .timeline-body
                p.text-muted
                  | サイト解析・改善ツールSiTest、及びスポーツメディアSPAIAの開発を担当。Vue.js、Node.js、MySQL、MongoDBなど、フロントとバックエンドの開発を経験。
          li
            .timeline-image
              img.rounded-circle.img-fluid(src='img/about/3.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 2018-
                h4.subheading Wovn Technologies株式会社
              .timeline-body
                p.text-muted WOVNのバックエンドを担当し、その後ライブラリの担当に異動。
          li.timeline-inverted
            .timeline-image
              h4
                | Now
                br
                br
                | 2020