section#services.page-section
.container
  .row
    .col-lg-12.text-center
      h2.section-heading.text-uppercase Services
      h3.section-subheading.text-muted 現在、ご提供しているサービスの一覧です。その他もご相談に乗ります。
  .row.text-center
    .col-md-4
      span.fa-stack.fa-4x
        i.fas.fa-circle.fa-stack-2x.text-primary
        i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
      h4.service-heading Google App Script制作
      p.text-muted Googleが提供しているスプレッドサービス・GoogleAppScriptのカスタマイズ・制作を承ります。
    .col-md-4
      span.fa-stack.fa-4x
        i.fas.fa-circle.fa-stack-2x.text-primary
        i.fas.fa-laptop.fa-stack-1x.fa-inverse
      h4.service-heading WEBサイト制作
      p.text-muted ご希望のWEBサイトの実装部分を承ります。
    .col-md-4
      span.fa-stack.fa-4x
        i.fas.fa-circle.fa-stack-2x.text-primary
        i.fas.fa-lock.fa-stack-1x.fa-inverse
      h4.service-heading MT4/TradingView制作
      p.text-muted FXのトレードシステムである、MT4・TradingViewのプログラム作成を承ります。